[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-XRHSN/Shadow_of_the_Ninja.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-XRHSN
Name=Shadow of the Ninja
Icon=/usr/share/games/nes/kachikachi/CLV-H-XRHSN/CLV-H-XRHSN.png

[X-CLOVER Game]
Code=CLV-H-XRHSN
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1990-12-01
SaveCount=0
SortRawTitle=shadow of the ninja
SortRawPublisher=NATSUME
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
