[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-WUURQ/Guerrilla_War.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-WUURQ
Name=Guerrilla War
Icon=/usr/share/games/nes/kachikachi/CLV-H-WUURQ/CLV-H-WUURQ.png

[X-CLOVER Game]
Code=CLV-H-WUURQ
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1989-06-01
SaveCount=0
SortRawTitle=guerrilla war
SortRawPublisher=SNK
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
