[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-NBEFH/Chip_n_Dale_Rescue_Rangers_2.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-NBEFH
Name=Chip 'n Dale Rescue Rangers 2, Disney's
Icon=/usr/share/games/nes/kachikachi/CLV-H-NBEFH/CLV-H-NBEFH.png

[X-CLOVER Game]
Code=CLV-H-NBEFH
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1994-01-01
SaveCount=0
SortRawTitle=chip 'n dale rescue rangers 2, disney's
SortRawPublisher=CAPCOM
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
