[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-IBVCD/Castlevania.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-IBVCD
Name=Castlevania
Icon=/usr/share/games/nes/kachikachi/CLV-H-IBVCD/CLV-H-IBVCD.png

[X-CLOVER Game]
Code=CLV-H-IBVCD
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=1988-12-19
SaveCount=0
SortRawTitle=castlevania
SortRawPublisher=KONAMI
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
