[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-OOCPH/Double_Dragon.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-OOCPH
Name=Double Dragon
Icon=/usr/share/games/nes/kachikachi/CLV-H-OOCPH/CLV-H-OOCPH.png

[X-CLOVER Game]
Code=CLV-H-OOCPH
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1988-06-01
SaveCount=0
SortRawTitle=double dragon
SortRawPublisher=TRADEWEST
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
