[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-PNNHQ/Captain_America_and_the_Avengers.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-PNNHQ
Name=Captain America and the Avengers
Icon=/usr/share/games/nes/kachikachi/CLV-H-PNNHQ/CLV-H-PNNHQ.png

[X-CLOVER Game]
Code=CLV-H-PNNHQ
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1991-12-01
SaveCount=0
SortRawTitle=captain america and the avengers
SortRawPublisher=DATA EAST
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
