[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-VZCRI/Silk_Worm.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-VZCRI
Name=Silkworm
Icon=/usr/share/games/nes/kachikachi/CLV-H-VZCRI/CLV-H-VZCRI.png

[X-CLOVER Game]
Code=CLV-H-VZCRI
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1990-06-01
SaveCount=0
SortRawTitle=silkworm
SortRawPublisher=SAMMY
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
