[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-XZEJO/Super_Mario_Bros_2.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-XZEJO
Name=Super Mario Bros. 2
Icon=/usr/share/games/nes/kachikachi/CLV-H-XZEJO/CLV-H-XZEJO.png

[X-CLOVER Game]
Code=CLV-H-XZEJO
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1989-04-28
SaveCount=0
SortRawTitle=super mario bros. 2
SortRawPublisher=NINTENDO
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
