[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-UQUEX/Bomberman_2.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-UQUEX
Name=Bomberman II
Icon=/usr/share/games/nes/kachikachi/CLV-H-UQUEX/CLV-H-UQUEX.png

[X-CLOVER Game]
Code=CLV-H-UQUEX
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1993-02-01
SaveCount=0
SortRawTitle=bomberman ii
SortRawPublisher=HUDSON SOFT
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
