[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-FFOQP/Jurassic_Park.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-FFOQP
Name=Jurassic Park
Icon=/usr/share/games/nes/kachikachi/CLV-H-FFOQP/CLV-H-FFOQP.png

[X-CLOVER Game]
Code=CLV-H-FFOQP
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=1993-06-01
SaveCount=0
SortRawTitle=jurassic park
SortRawPublisher=OCEAN
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
