[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-YMPHJ/Fire_Emblem_Gaiden.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-YMPHJ
Name=Fire Emblem Gaiden
Icon=/usr/share/games/nes/kachikachi/CLV-H-YMPHJ/CLV-H-YMPHJ.png

[X-CLOVER Game]
Code=CLV-H-YMPHJ
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=1900-01-01
SaveCount=3
SortRawTitle=fire emblem gaiden
SortRawPublisher=UNKNOWN
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
