[Desktop Entry]
Type=Application
Exec=/bin/clover-kachikachi-wr /usr/share/games/nes/kachikachi/CLV-H-WQQZR/Tiny_Toon_Adventures.nes.7z --guest-overscan-dimensions 0,0,9,3 --initial-fadein-durations 10,2 --volume 75 --enable-armet
Path=/var/lib/clover/profiles/0/CLV-H-WQQZR
Name=Tiny Toon Adventures
Icon=/usr/share/games/nes/kachikachi/CLV-H-WQQZR/CLV-H-WQQZR.png

[X-CLOVER Game]
Code=CLV-H-WQQZR
TestID=777
ID=0
Players=2
Simultaneous=1
ReleaseDate=1991-12-01
SaveCount=0
SortRawTitle=tiny toon adventures
SortRawPublisher=KONAMI
Copyright=hakchi2 ©2017 Alexey 'Cluster' Avdyukhin
